.painel{
  height: 60vh;
  width: 60vw;
  background-color: #F8F9FA;
  margin: auto;
  margin-top: 10%;
  border-radius: 30px;
  padding: 1rem;
  button, a {
    margin-right: 25%;
    width: 100%;
    background-color: #8DA9C4;
    color: white;
  }
  a{
    background-color: #0b2545;
  }
}