<app-navbar></app-navbar>
<div class="painel">
  <form class="container-fluid">
    <h2 align="center" class="mb-5 mt-5">Cadastrar</h2>
    <div align="center" *ngIf="mensagemErro" class="alert alert-danger" role="alert">
      Problema ao salvar o formulario!
    </div>
    <div class="form-group">
      <input [(ngModel)]="peso" [ngModelOptions]="{standalone: true}" type="number" maxlength="3" class="form-control" placeholder="Informe o peso em kg. Ex: 80">
    </div>
    <div class="form-group">
      <input [(ngModel)]="altura" [ngModelOptions]="{standalone: true}" type="text" class="form-control" (keyup)="maskHeight($event)" placeholder="Informe a altura em metros. Ex: 1,7 ">
    </div>

    <div class="form-group">
      <select [(ngModel)]="aluno" [ngModelOptions]="{standalone: true}" class="form-control">
        <option *ngFor="let cliente of alunos" value='{{cliente.id}}'>{{ cliente.name }}</option>
      </select>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <a href="javascript: history.go(-1)" class="btn">Voltar</a>
      </div>
      <div class="col-md-6">
        <button (click)="cadastrar()" class="btn">Salvar</button>
      </div>
    </div>
  </form>
</div>