.container-fluid {
  margin-top: 10%;
  a {
    color: white;
    background-color: #8DA9C4;
    float: right;
  }
  button{
    border-radius: 10%;
    background-color: #FFFF;
    border: solid 2px #8DA9C4;
  }
}