<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let coluna of colunas" scope="col">{{ coluna }}</th>
    </tr>
  </thead>
  <tbody *ngFor="let data of dataTable">
    <tr *ngIf="data.type == 'aluno'">
      <td scope="row">{{ data.profissionalName }}</td>
      <td>{{ data.height }}</td>
      <td>{{ data.weight }}</td>
      <td>{{ data.result }}</td>
      <td>{{ data.createdAt }}</td>
    </tr>
    <tr *ngIf="data.type == 'client'">
      <td scope="row">{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.cpf }}</td>
    </tr>
    <tr *ngIf="data.type == 'client-professional'">
      <td scope="row">{{ data.nome }}</td>
      <td>{{ data.cpf }}</td>
      <td>{{ data.qtd }}</td>
      <td (click)="redirecionarGrafico(data.cpf)"><button class="btn"><img src="../../../assets/trend.png"></button></td>
    </tr>
    <tr *ngIf="data.type === 'professional'">
      <td scope="row">{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.cpf }}</td>
    </tr>
    <tr *ngIf="data.type === 'admin'">
      <td scope="row">{{ data.nome }}</td>
      <td>{{ data.cpf }}</td>
      <td>{{ data.alunos }}</td>
    </tr>
    <tr *ngIf="data.type === 'imc'">
      <td scope="row">{{ data.clientName }}</td>
      <td>{{ data.height }}</td>
      <td>{{ data.weight }}</td>
      <td>{{ data.result }}</td>
      <td>{{ data.createdAt }}</td>
    </tr>
  </tbody>
</table>