<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let coluna of colunas" scope="col">{{ coluna }}</th>
    </tr>
  </thead>
  <tbody *ngFor="let data of dataTable.data">
    <tr *ngIf="dataTable.type === 'ALUNO'">
      <td scope="row">{{ data.nome }}</td>
      <td>{{ data.cpf }}</td>
      <td>{{ data.alunos }}</td>
    </tr>
    <tr *ngIf="dataTable.type === 'PROFISSIONAL'">
      <td scope="row">{{ data.nome }}</td>
      <td>{{ data.cpf }}</td>
      <td>{{ data.alunos }}</td>
    </tr>
    <tr *ngIf="dataTable.type === 'ADMIN'">
      <td scope="row">{{ data.nome }}</td>
      <td>{{ data.cpf }}</td>
      <td>{{ data.alunos }}</td>
    </tr>
    <tr *ngIf="dataTable.type === 'IMC'">
      <td scope="row">{{ data.aluno }}</td>
      <td>{{ data.altura }}</td>
      <td>{{ data.peso }}</td>
      <td>{{ data.resultado }}</td>
      <td>{{ data.data }}</td>
    </tr>
  </tbody>
</table>