form {
  justify-content: center;
  align-items: center;
  margin-top: 50%;
    button {
      background-color: #8DA9C4;
      color: white;
      width: 70%;
      height: 4rem;
    }
    button:hover{
      background-color: #13315C;
    }
    input {
      width: 70%;
      height: 4.5rem !important;
    }
    img{
      font-size: 60px;
      margin-top: -20% !important;
      margin-bottom: 20% !important;
    }
}

.painel{
  width: 60rem;
  height: 60rem;
  background-color: #13315C;
  margin: 2%;
  border-radius: 50px;
   #imagem-fundo {
    width: 85%;
    height: 95%;
    margin: 3%;
    margin-left: -3%;
    border-radius: 50px;
    z-index: 1;
   }
   #logo-painel{
    position: absolute;
    width: 10%;
    right: 10%;
    bottom: 8%;
    z-index: 2;
    
    margin-right: auto;
    margin-left: auto;
   }
}