<div align="center" class="row">
  <div class="col-6">
    <div class="container-fluid">
      <form class="form-group">
        <img src="../../../assets/logo1.png" align="center" class="mb-5" >
        <div class="form-group">
          <input [(ngModel)]="cpf" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="CPF">
        </div>
        <div class="form-group">
          <input [(ngModel)]="senha" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Senha">
        </div>
    
        <button (click)="fazerLogin()" class="btn">Login</button>
      </form>
    </div>
  </div>
  <div class="col-6">
    <div class="painel">
      <img id="logo-painel" src="../../../assets/logo2.png">
      <img id="imagem-fundo" src="../../../assets/login.jpg">
    </div>
  </div>
</div>