nav {
  background-color: #0B2545 !important;
  color: white;
  a {
    color: white;
    img {
      width: 40% !important;
    };
  }
}


@media screen and (max-width: 378px) {
  nav {
    width: 100% !important;
    div{
      margin: 0 !important;
    }
  }
}