<app-navbar></app-navbar>
<div class="painel">
  <form class="container-fluid">
    <h2 align="center" class="mb-5 mt-5">Cadastrar</h2>
    <div align="center" *ngIf="mensagemErro" class="alert alert-danger" role="alert">
      Problema ao salvar o formulario!
    </div>
    <div class="form-group">
      <input [(ngModel)]="nome" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Nome">
    </div>
    <div class="form-group">
      <input [(ngModel)]="cpf" [ngModelOptions]="{standalone: true}" maxlength="14" (keypress)="cpfMask($event)" type="text" class="form-control" placeholder="CPF">
    </div>

    <div class="form-group">
      <select [(ngModel)]="tipo" [ngModelOptions]="{standalone: true}" class="form-control">
        <option value="professional">Profissional</option>
        <option value="client">Aluno</option>
      </select>
    </div>

    <div class="form-group">
      <input [(ngModel)]="senha" [ngModelOptions]="{standalone: true}" type="password" class="form-control" placeholder="Senha">
    </div>
    <button (click)="cadastrar()" class="btn">Salvar</button>
  </form>
</div>