<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="btn-group mb-4">
    <button type="button" (click)="listarTabelaProfissionais()" [ngClass]="botaoSelecionado ? 'botao-selecionado' : 'botao-padrao'" class="btn">Profissionais</button>
    <button type="button" (click)="listarTabelaAlunos()" [ngClass]="!botaoSelecionado ? 'botao-selecionado' : 'botao-padrao'" class="btn">Alunos</button>
  </div>

  <div *ngIf="botaoSelecionado">
    <div *ngIf="dataTableProfissionais.length == 0">
      <div class="alert alert-secondary" role="alert">
        Nenhuma informação encontrada!
      </div>
    </div>
    <div *ngIf="dataTableProfissionais.length != 0">
      <app-table [colunas]="colunasProfissionais" [dataTable]="dataTableProfissionais"></app-table>
      <a class="btn mr-5" href="administradorcadastro">Cadastrar</a>
    </div>
  </div>
  <div *ngIf="!botaoSelecionado">
    <div *ngIf="dataTableAlunos.length == 0">
      <div class="alert alert-secondary" role="alert">
        Nenhuma informação encontrada!
      </div>
    </div>
    <div *ngIf="dataTableAlunos.length != 0">
      <app-table [colunas]="colunasAlunos" [dataTable]="dataTableAlunos"></app-table>
      <a class="btn mr-5" (click)="redirecionar()">Cadastrar</a>
    </div>
  </div>
</div>