.container-fluid {
  margin-top: 10%;
  a {
    color: white;
    background-color: #8DA9C4;
    float: right;
  }
}

.botao-padrao {
  background-color: #8DA9C4;
  color: white;
}

.botao-selecionado {
  background-color: #65819C;
  color: white;
}