<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="btn-group mb-4">
    <button type="button" (click)="listarTabelaAlunos()" [ngClass]="botaoSelecionado ? 'botao-selecionado' : 'botao-padrao'" class="btn">Alunos</button>
    <button type="button" (click)="listarTabelaImc()" [ngClass]="!botaoSelecionado ? 'botao-selecionado' : 'botao-padrao'" class="btn">IMCs</button>
  </div>
  <!-- <app-grafico></app-grafico> -->
  <div *ngIf="botaoSelecionado">
    <div *ngIf="dataTableAlunos.length == 0">
      <div class="alert alert-secondary" role="alert">
        Nenhuma informação encontrada!
      </div>
      <a class="btn mr-5" href="professional/cadastro">Cadastrar IMC</a>
    </div>
    <div *ngIf="dataTableAlunos.length != 0">
      <app-table [colunas]="colunasAlunos" [dataTable]="dataTableAlunos"></app-table>
      <a class="btn mr-5" href="professional/cadastro">Cadastrar IMC</a>
    </div>
  </div>
  <div *ngIf="!botaoSelecionado">
    <div *ngIf="dataTableImc.length == 0">
      <div class="alert alert-secondary" role="alert">
        Nenhuma informação encontrada!
      </div>
      <a class="btn mr-5" href="professional/cadastro">Cadastrar</a>
    </div>
    <div *ngIf="dataTableImc.length != 0">
      <app-table [colunas]="colunasImc" [dataTable]="dataTableImc"></app-table>
      <a class="btn mr-5" href="professional/cadastro">Cadastrar</a>
    </div>
  </div>
</div>