<app-navbar [user]="user"></app-navbar>
<div class="container-fluid">
  <div class="btn-group mb-4">
    <button type="button" (click)="listarTabelaProfissionais()" [ngClass]="botaoSelecionado ? 'botao-selecionado' : 'botao-padrao'" class="btn">Alunos</button>
    <button type="button" (click)="listarTabelaAlunos()" [ngClass]="!botaoSelecionado ? 'botao-selecionado' : 'botao-padrao'" class="btn">IMCs</button>
  </div>

  <div *ngIf="botaoSelecionado">
    <app-table [colunas]="colunasAlunos" [dataTable]="dataTableAlunos"></app-table>
  </div>
  <div *ngIf="!botaoSelecionado">
    <app-table [colunas]="colunasImc" [dataTable]="dataTableImc"></app-table>
    <a class="btn mr-5" href="profissional/cadastro">Cadastrar</a>
  </div>
</div>